#coverimg {
  background-image: url("images/shopcover.png");
}
h1{
  text-align: center;
  color:white;
  position: relative;
  top:-150px;
  font-size: 45px;
}
h2 {
  margin-top: 2%;
  text-align: center;
}
