#coverimg {
 background-image: url("images/cover.png");
}
p {
  position: absolute;
  top: 30%;
  right:2%;
  color:white;
}
p:nth-child(2) {
  top:36%;
}
.row {
  margin: 0px;
  text-align: center;
  padding: 10px;
  background-color:  #E1EFE5;
}
