.panel {
  margin-top: 10%;
}
input[type="date"] {
  border:none;
  width: 100%;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;

}
input[type="date"]:active {
  border:none;
}
